.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Monotype corsiva;
  color: green;
  background-color: lightblue;
  padding: 20px;
  border-bottom: 2px solid green;
}

.header img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.box {
  border: 1px solid black;
  background-color: yellow;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  background-color: green;
  padding: 20px;
  border: 2px solid blue;
}

.main-box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
}

.main1 {
  background-color: red;
}

.main2 {
  background-color: blueviolet;
  border-style: dotted;
}
